body{
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #b9b3c8;
}

header{
    background-color: #652770;
    padding: 40px;
    text-align: center;

}

@font-face{
    font-family: Monster;
    src: url(Monster.ttf);
}

h1{
    font-family: Monster;
    font-size: 120px;
    color: white;
    text-shadow: 4px 6px rgb(55, 128, 43);
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 24px solid #f5f5f5;
}
    
.content{
    margin-left:10%;
    padding: 0 20px;
    font-size: 150%;
}

h2{
    font-family: Monster;
    font-size: 35px;
}

img.big-image{
    width:80%;
    margin-left: 10%;
    box-shadow: 1px 1px 15px 10px #A071A8;
}

p.caption{
    font-size: 16px;
    color: #103308;
    font-style: italic;
    padding-left: 11%;
}

.mike{
    text-align: center;
    font-size: 55px;
}

circle{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 1;
}

.circle-container {
	display: flex; 
	justify-content: center; 
    align-items: center; 
	padding-top: 5px;
	content: 2px;
	margin-top: 5px;	
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 0.9s;
	box-shadow: 1px 1px 8px 5px #652770;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.circle:hover {
	transform: scale(1.1);
}

.circle:hover img {
    transform: scale(1.1); 
}       
    
footer{
    margin-top: 20px;
    padding: 40px 20px;
    background-color: #A071A8;
 }

footer ul{
    text-align: center;
    font-size: 15px;
}

footer ul li{
    display: inline-block;
    margin: 0 5px;
}